.tag1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: orange;
    height: 100vh;
    width: 100vw;
}

.tag1-1 {
    align-self: center;
}

.tag2 {
	background-color: green;
	padding: 5% 10%;
}

 .tag3 {
 	padding: 8% 18%;
 	background-color: burlywood;
 }
 
  .tag4 {
  	padding: 8% 10%;
 	background-color: blueviolet;
 	margin: 0;
  }

  .tag5 {
  	background-color: lightblue;
   }

.pic {
	  background-image: url(https://picsum.photos/200);
    background-position: center;
    color: white;
    font-weight: bold
    font-size: 25px;
    padding: 10%;
   
   }
